body{
    
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.158)),
        linear-gradient(to top, rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.007)),
        url(https://assets.nflxext.com/ffe/siteui/vlv3/e89c9679-2f5f-491d-924c-c58924a8ee4b/f9c4098e-22e1-4b5c-b668-47519ee56dc7/BR-pt-20221121-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


.login{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#fff;
    width: 450px;
    height: 660px;
   background-color: #000000BF;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: auto;
    position: center;   
    max-width: 500px;
    box-sizing: border-box;
    border-radius: 5px;
}

.caixa{
   
    opacity: 0.5;

}

.ajustar{
    height: 314px;
    width: 370px;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline;
    margin-top: -280px;
    border-radius: 5px;
    box-sizing: border-box;
}

img{
    width: 250px;
height:150px;
margin-left: 2px;

}

a{
margin-left: 20px;
color: #fff;
}
.texto{
justify-content: left;

}

header img{
margin-top: -40px;

}